<h2>Show page :</h2>
<h1>info about <%= @article.title %></h1>
<!-- <h1><%= @article.content %></h1> -->
# <%= @article.content %> :bowtie:
<h1>created at: : <%= @article.created_at.strftime("%Y  %HH: %M") %></h1>
